@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98%;
		--foreground: 240 10% 15%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 96%;
		--popover-foreground: 240 10% 45%;
		--primary: 33.5 96.9% 58.2%;
		--primary-foreground: 33.5 96.9% 48.2%;
		--secondary: 240 4.8% 80%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-border: 0 95.7% 27.3%;
		--destructive-foreground: 0 95.7% 95.3%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--radius: 0.5rem;
		--background-secondary: 0 0% 94%;
		--border-foreground: 0 0% 80%;
		--text-color: 0 0% 20%;
		--text-color-secondary: 0 0% 45%;
		--card-background: 0 0% 96%;
		--card-background-secondary: 0 0% 100%;
		--font-primary: "Poppins";
	}

	.dark {
		--background: 0 0% 13%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 33.5 96.9% 48.2%;
		--primary-foreground: 33.5 96.9% 28.2%;
		--secondary: 240 3.7% 30%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-border: 0 85.7% 67.3%;
		--destructive-foreground: 0 95.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--radius: 0.5rem;
		--background-secondary: 0 0% 17%;
		--border-foreground: 0 0% 20%;
		--text-color: 0 0% 100%;
		--text-color-secondary: 0 0% 70%;
		--card-background: 0 0% 18%;
		--card-background-secondary: 0 0% 14%;
		--font-primary: "Poppins";
	}
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}
